input{
    display: block;
    width: 498px;
    height: 47px;
    margin: 10px 0;
    outline: none;
    background: #4da6ff;
    border: 2px solid rgb(134, 134, 255);
    font-size: 18px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
::placeholder{
    color: rgb(255, 255, 255,0.8);
    padding-left: 20px;
}
#btn{
    width: 200px;
    height: 40px;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    color: white;
    background: linear-gradient(#4dff4d,#4da6ff);
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.container{
    width: 100vw;
    height: 70vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
    text-transform: capitalize;
}
